@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.header, .footer, .content {
    padding: 0 12%;
}

.header, .footer {
    background-color: #1F2937;
}

.content {
    display: flex;
    flex-direction: column;
}

.random-info {
    display: flex;
    flex-direction: column;
}

.random-content {
    display: flex;
    gap: 40px;
    margin-bottom: 75px;
    flex-wrap: wrap;
    justify-content: center;
}

.random-content-square {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-content-square .body {
    color:  #6D747D;
    text-align: center;
    max-width: 170px;
}

.square {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.body, ul {
    font-size: 18px;
    color: #e5e7eb;
}

.welcome {
    display: flex;
    gap: 30px;
    align-items: center;
    flex: 1;
    margin: 80px 0;
}

.welcome-left {
    max-width: 50%;
}

.welcome-right {
    display: flex;
    height: 220px;
    width: 100%;
    background-color: #6D747D;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.welcome-left .title, .welcome-left .body {
    margin: 10px 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    text-align: center;
    color: #e5e7eb;
    padding: 30px 0;
}

.information-header {
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.buttons {
    display: flex;
    background-color: #3882f6;
    border-radius: 12px;
    font-weight: bolder;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border: 0;
    transition-duration: 0.2s;
}

.buttons:hover {
    background-color: #3881f691;
}